# Visual Studio / Rider / VSCode
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
bin/
obj/
**/bin/
**/obj/
Debug/
Release/

# NuGet / paquetes
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Publicación / resultados de tests
publish/
TestResults/
*.trx

# Logs y archivos temporales
*.log
*.dbmdl
.DS_Store

# Otros caches / herramientas
_ReSharper*/
*.DotSettings.user
*.ide